
/*.MuiPaper-root{
    max-width: 1200px!important;
    margin:0 auto;
    left:0!important;
    border:1px solid greenyellow;

}*/
*{
    box-sizing: border-box;
    margin: 0;
    
}
.active{
    border-bottom:0.5px dotted white;
}

.createBlog{
    max-width: 800px;
    margin: 0 auto ;
    box-shadow: 0 0 5px gray;
    padding: 10px;
}
a{
    text-decoration: none!important;
}
.css-1t6c9ts a{
    display: flex;
    justify-content: space-around;
    align-items: center;
      height: 40px;
  }
  
.errMsg{
    color:red;
}
.app{

    background-color: rgba(146, 141, 171,0.2);
    min-height: calc(100vh - 65px);
    margin: 60px auto 0 auto;
    padding-top: 1rem;
   
}

.editor{
    min-height: 300px;
}
.cardBody{
    overflow:hidden!important;
}
.postcard-icon{
    color:rgb(150, 147, 147);
}
.profile{
    margin-top: 65px;
}
body{
    padding-right: 0!important;
}
.span-details{
    margin-left: 20px;
    display: inline-block;
    border :1px solid gray;
    cursor:pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 5px;
}
